h2 {
  text-align: center;
  margin-bottom: 16px;
  font-family: Arial, sans-serif;
}

table {
  margin: 0 auto 32px auto;
  border-collapse: collapse;
  width: 90%;
  font-family: Arial, sans-serif;
}

th {
  background-color: #f2f2f2;
  padding: 10px;
  text-align: left;
}

td {
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #fafafa;
}

tr:hover {
  background-color: #e6f2ff;
}
